parameters:
  debug: true
  github.user:         "%GITHUB_USER%"
  github.password:     "%GITHUB_PASSWORD%"
  github.organization: "%GITHUB_ORGANIZATION%"
  github.repository:   "%GITHUB_REPOSITORY%"
  trello.api_key:      "%TRELLO_API_KEY%"
  trello.secret:       "%TRELLO_SECRET%"
  trello.token:        "%TRELLO_TOKEN%"
  trello.board_id:     "%TRELLO_BOARD_ID%"
